@import './base.css';

#app {
  font-weight: normal;
  height: 100vh;
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

a {
  color: #555;
  text-decoration: none;
  transition: 0.5s;
}

a:hover {
  color: #888;
}

@media (max-width: 1024px) {
  #app {
    width: 90%;
  }
}
